ul#gallery{
    list-style: none;
}
div#gallery {
    display: flex;
    justify-content: right; 
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 30%;
}
img[src="images/main-peng1.png"]{
    width: 10%;
}
body {
padding: 10px;
}
div#carousel_block{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.carousel {
position: relative;
width: 800px;
padding: 10px 40px;
border: 1px solid #CCC;
border-radius: 15px;
background: #eee;
}

.carousel img {
width: 260px;
height: 260px;
/* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
display: block;
}

.arrow {
position: absolute;
top: 120px;
padding: 0;
background: #ddd;
border-radius: 15px;
border: 1px solid gray;
font-size: 24px;
line-height: 24px;
color: #444;
display: block;
}

.arrow:focus {
outline: none;
}

.arrow:hover {
background: #ccc;
cursor: pointer;
}

.prev {
left: 7px;
}

.next {
right: 7px;
}

.galllery {
    width: 780px;
    overflow: hidden;
}

.galllery ul {
    height: 260px;
    /* width: 9999px; */
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 100ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
}

.galllery li {
    display: inline-block;
}